.box-body {
    display: flex;
    flex-direction: column;
    
    .deployments {
        /* background-color: #443b3b; */
        /* width: 50%; */
        padding: 10px 20px;
        display: flex;
        align-self: end;
        /* gap: 20px; */

        span {
            /* width: 100%; */
            display: flex;
            /* background-color: #603434; */
        }
    }

    .content {
        /* width: 145vh; */
        margin: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-self: start;
        gap: 20px;

        .dev-feature {
            display: flex;
            flex-direction: column;
            padding: 20px;
            border-radius: 36px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(131, 131, 131, 0.4);
            gap: 10px;

            &:hover {
                background-color: rgba(25, 64, 64, 0.4);

            }

            .dev-feature-title {
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                
                .dev-feature-name {
                    font-weight: 600;
                    text-transform: capitalize;
                }
                .dev-feature-date {
                    font-size: 12px;
                    font-style: italic;
                    color: #868585;
                }
            }
            .dev-feature-description {
                display: flex;
                justify-content: space-between;

                .readmore {
                    color: rgb(214, 243, 218);
                    cursor: pointer;
                }

                .dev-btn-status {
                    height: 30px;
                    align-self: center;
                    padding: 10px;
                    border-radius: 9px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    white-space: nowrap; /* Prevents button text from wrapping */
                    transition: background-color 0.2s ease; /* Smooth hover effect */
                }
                .dev-btn-status.approved {
                    background-color: #0D8205;

                    &:hover {
                        background-color: #0b6704;
                    }
                }
                .dev-btn-status.pending {
                    background-color: #9b9602;

                    &:hover {
                        background-color: #797501;
                    }
                }
                .dev-btn-status.rolledback {
                    background-color: #AD0707;

                    &:hover {
                        background-color: #8d0505;
                    }
                }
                .dev-btn-status.deployed {
                    background-color: #1976D2;

                    &:hover {
                        background-color: #1565C0;
                    }
                }
            }
        }
    }      
}