.project-count {
    margin: 20px;
    padding: 10px;
    /* display: flex; */
    float: right;
}
.content {
    width: 140vh;
    margin: 20px;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    align-self: start;
    /* background-color: rgb(2, 2, 57); */

    .project {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 36px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(131, 131, 131, 0.4);
    
        &:hover {
            background-color: rgba(25, 64, 64, 0.4);
    
        }

        .project-name {
            font-weight: 600;
            cursor: pointer;
            align-self: start;
        }
    
        .project-description {
            display: flex;
            justify-content: space-between;
    
            .readmore {
                color: rgb(214, 243, 218);
                cursor: pointer;
            }
    
            .btn-status {
                padding: 5px 10px;
                border-radius: 24px;
                border: none;
                outline: none;
                cursor: pointer;
                background-color: rgb(122, 3, 3);
                font-weight: 500;
    
                &:hover {
                    background-color: rgb(148, 2, 2);
                }
            }
        }
    }

}

